[tutorial](https://www.youtube.com/watch?v=xUE7SjVx9bQ&list=PLfFghEzKVmjvuSA67LszN1dZ-Dd_pkus6&index=2)

In [1]:
#Importing the required libraries
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm

from sklearn.metrics import accuracy_score #as it is classification model

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# Dataset - PIMA Diabetes Dataset

In [4]:
# loading the data
diabetes_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/diabetes.csv")

In [5]:
# to get help for a function
pd.read_csv?

In [6]:
diabetes_data.head()
# holds data for only females
# 1 - The patient is diabetic
# 0 - The patient is non-diabetic

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [7]:
# number of rows and columns
diabetes_data.shape

(768, 9)

In [8]:
diabetes_data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [9]:
# getting the statistical measures
diabetes_data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [10]:
# the ratio-split of target variable
diabetes_data.Outcome.value_counts()
# the data is skewed towards non-diabetic patients
# 1 - Diabetic Patient
# 0 - Non-Diabetic Patient

0    500
1    268
Name: Outcome, dtype: int64

In [11]:
# finding mean based on target variable
diabetes_data.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [12]:
# separating x and y
X = diabetes_data.drop(columns='Outcome', axis=1, inplace=False)
Y = diabetes_data['Outcome']
type(Y)

pandas.core.series.Series

In [13]:
print(X) # features
print(Y) # labels

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [14]:
# Data standardization
scalar = StandardScaler()

In [16]:
scalar.fit(X) #fitting the standard scaler on whole data set

StandardScaler(copy=True, with_mean=True, with_std=True)

In [18]:
# Now transforming
standardized_data = scalar.transform(X)

In [22]:
standardized_df = pd.DataFrame(standardized_data, index=X.index, columns = X.columns)
standardized_df.head()

   Pregnancies   Glucose  ...  DiabetesPedigreeFunction       Age
0     0.639947  0.848324  ...                  0.468492  1.425995
1    -0.844885 -1.123396  ...                 -0.365061 -0.190672
2     1.233880  1.943724  ...                  0.604397 -0.105584
3    -0.844885 -0.998208  ...                 -0.920763 -1.041549
4    -1.141852  0.504055  ...                  5.484909 -0.020496

[5 rows x 8 columns]

In [25]:
standardized_df.index

RangeIndex(start=0, stop=768, step=1)

In [26]:
standardized_X = standardized_df
Y = diabetes_data['Outcome']

In [28]:
# spliting data into train-test data
X_train, X_test, y_train, y_test = train_test_split(standardized_X, Y, test_size=0.2, stratify=Y, random_state=2)
# if stratify is None, there might be a possibility that all the 'N' classes might to to test set
# to make an even distribution of data, we must set stratify = Y
# anyone setting random_state=2 will get the same portion of code iin splits

In [30]:
# help on train_test_split
train_test_split?

In [31]:
# lets see the split
print(standardized_X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

In [35]:
classifier = svm.SVC(kernel='linear')
classifier

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [37]:
# help of support vector machine
svm.SVC?

In [38]:
# training the SVM Classifier
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [40]:
# Evaluating the model on train data itself
train_prediction = classifier.predict(X_train)
training_accuracy = accuracy_score(train_prediction, y_train)
print(f"accuracy score on training data {training_accuracy}")

accuracy score on training data 0.7866449511400652

In [41]:
# Evaluating the model on test data
test_prediction = classifier.predict(X_test)
test_accuracy = accuracy_score(test_prediction, y_test)
print(f"accuracy score on test data {test_accuracy}")

accuracy score on test data 0.7727272727272727

In [48]:
input_data = (3,78,50,32,88,31, 0.248,26)
type(input_data)

# changing the data from tuple to numpy array
np_input = np.array(input_data)
type(np_input)
np_input.shape # (8,) ==> but we need just 1 row

# Need to shape the array for predicting just one example
np_input_reshaped = np_input.reshape(1,-1)
np_input_reshaped.shape

# to make our model capable of predicting this example, we must standardize the data
np_input_standardized = scalar.transform(np_input_reshaped)
print(np_input_standardized)

# Now let us make the prediction
prediction = classifier.predict(np_input_standardized)
print(prediction) #the model has predicted the person as non-diabetic


# printting the label
if prediction[0] == 0: #prediction is list
  print("non-diabetic")
else:
  print("diabetic")

[[-0.25095213 -1.34247638 -0.98770975  0.71908574  0.07120427 -0.12597727
  -0.676133   -0.61611067]]
[0]
non-diabetic